@import url('./fonts.css');

/* Reset CSS */
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
    text-decoration: none;
}
body {
	line-height: 1;
    font-size: 18px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset CSS */
.banner {
    background-image: url('../images/desktop/image-header.jpg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 124px;
    padding-left: 40px;
    padding-right: 41px;
}
.header__logo {
    height: 32.8px;
}
.header__menu {
    align-items: center;
    display: flex;
    font-family: 'Barlow';
}
.header__menu li:nth-child(1) {
    margin-right: 49px;
}
.header__menu li:nth-child(2) {
    margin-right: 46px;
}
.header__menu li:nth-child(3) {
    margin-right: 47px;
}
.header__menu li:last-child {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Fraunces';
    font-size: 16px;
    letter-spacing: -0.8px;
    padding: 20px 31px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.header__menu li:last-child:hover {
    background-color: rgba(255,255,255,0.4);
}
.header__menu li a {
    color: #fff;
}
.header__menu li:last-child a {
    color: #23303e;
    transition: all 0.3s ease-in-out;
}
.header__menu li:last-child:hover a {
    color: #fff;
}
.banner__cta {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 75px
}
.banner__cta__heading {
    color: #fff;
    font-family: 'Fraunces';
    font-size: 56px;
    font-weight: 900;
    letter-spacing: 9px;
    text-transform: uppercase;
}
.banner__cta__arrow {
    margin-top: 100px;
}
.feature {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 600px;
}
.reverse {
    flex-direction: row-reverse;
}
.feature__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 165px;
    width: 50%;
}
.feature__content__heading {
    color: #23303e;
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.6px;
    line-height: 1.2;
    padding-bottom: 33px
}
.feature__content__text {
    color: #818498;
    font-family: 'Barlow';
    line-height: 1.7;
    padding-bottom: 40px;
    width: 117%;
}
.feature__content__link {
    color: #23303e;
    font-family: 'Fraunces';
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.6px;
    padding-left: 10px;
    position: relative;
    text-transform: uppercase;
    width: max-content;
}
.feature__content__link::after {
    border-radius: 50px;
    bottom: -4px;
    content: '';
    display: block;
    height: 10px;
    left: 1px;
    opacity: 0.3;
    position: absolute;
    transition: opacity 0.2s;
    width: 105%;
    z-index: -1;
}
.yellow__link::after {
    background-color: #fad400;
}
.red__link::after {
    background-color: #fe7967;
}
.feature__content__link:hover::after {
    opacity: 1;
}
.feature__image {
    height: 100%;
    width: 50%;
}
.feature__image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.services {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 600px;
}
.service {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 50%;
}
.service.graphic-design {
    background-image: url('../images/desktop/image-graphic-design.jpg');
}
.service.photography {
    background-image: url('../images/desktop/image-photography.jpg');
}
.service__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.graphic-design .service__content {
    color: #25564b;
    padding: 60px 160px;
}
.photography .service__content {
    color: #19526b;
    padding: 60px 165px;
}
.service__content__heading {
    font-family: 'Fraunces';
    font-size: 26px;
    font-weight: 900;
    padding-bottom: 30px;
}
.service__content__text {
    font-family: 'Barlow';
    line-height: 1.5;
}
.testimonials {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.testimonials__title {
    color: #a7abae;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 6.5px;
    text-transform: uppercase;
    padding-bottom: 84px;
}
.testimonials__wrapper {
    align-items: center;
    display: flex;
    padding: 0 138px;
}
.testimonial {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.testimonial:nth-child(1) {
    padding-right: 20px;
    width: 71%;
}
.testimonial:nth-child(2) {
    padding-right: 22px;
    width: 69%;
}
.testimonial:nth-child(3) {
    padding-right: 20px;
    width: 70%;
}
.testimonial__image {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-bottom: 58px;
}
.testimonial__comment {
    color: #5a636c;
    font-family: 'Barlow';
    line-height: 1.7;
    padding-bottom: 72px;
}
.testimonial__name {
    color: #23303e;
    font-family: 'Fraunces';
    font-weight: 900;
    padding-bottom: 16px;

}
.testimonial__role {
    color: #a7abae;
    font-family: 'Barlow';
    font-size: 14px;
}
.gallery {
    align-items: center;
    display: flex;
}
.gallery__image {
    width: 25%;
    height: 50vh;
    object-fit: cover;
}
footer {
    align-items: center;
    background-color: #90d4c5;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
}
.footer__logo {
    height: 32.8px;
    margin-bottom: 50px;
}
.footer__menu {
    align-items: center;
    display: flex;
    justify-content: center;
}
.footer__menu__item {
    font-family: 'Barlow';
}
.footer__menu__item:nth-child(1) {
    padding-right: 68px;
}
.footer__menu__item:nth-child(3) {
    padding-left: 68px;
}
.footer__menu__item__link {
    color: #458c7e;
    transition: color 0.2s;
}
.footer__menu__item__link:hover {
    color: #fff;
}
.socials__menu {
    padding-top: 95px;
}
.socials__menu__item {
    margin-left: 15px;
    margin-right: 15px;
}
.socials__menu__item:hover path {
    fill: #fff;
}