@import url('./fonts.css');

/* Reset CSS */
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,body
{
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
    padding: 0px;
    width: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
    text-decoration: none;
}
body {
	line-height: 1;
    font-size: 18px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset CSS */

/*----- Banner Section -----*/

.banner {
    background-image: url('../images/desktop/image-header.jpg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.banner__cta {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 75px
}
.banner__cta__heading {
    color: #fff;
    font-family: 'Fraunces';
    font-size: 56px;
    font-weight: 900;
    letter-spacing: 9px;
    text-align: center;
    text-transform: uppercase;
}
.banner__cta__arrow {
    margin-top: 100px;
    animation: down-opacity 1s infinite alternate;
    animation-timing-function: ease-in-out;
}
@keyframes down-opacity {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}

/* Media queries (BANNER SECTION) */
@media only screen and (max-width: 768px ) {
    .banner {
        padding: 0 40px;
    }
    .banner__cta__heading {
        font-size: 50px;
    }
}
@media only screen and (max-width: 425px) {
    .banner {
        height: 81vh;
        padding: 0 24px;
    }
    .banner__cta {
        margin-top: 56px;
    }
    .banner__cta__heading {
        font-size: 40px;
        letter-spacing: 7px;
        line-height: 1.2;
    }
    .banner__cta__arrow {
        margin-top: 51px;
    }
}

/*----- Navigation -----*/
.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 124px;
    padding-left: 40px;
    padding-right: 49px;
    position: relative;
}
.navigation__logo {
    height: 32.8px;
}
.navigation__menu {
    align-items: center;
    display: flex;
    font-family: 'Barlow';
}
.navigation__menu li:nth-child(1) {
    margin-right: 49px;
}
.navigation__menu li:nth-child(2) {
    margin-right: 46px;
}
.navigation__menu li:nth-child(3) {
    margin-right: 47px;
}
.navigation__menu li:last-child {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Fraunces';
    font-size: 16px;
    letter-spacing: -0.8px;
    padding: 20px 31px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.navigation__menu li:last-child:hover {
    background-color: rgba(255,255,255,0.4);
}
.navigation__menu li a {
    color: #fff;
}
.navigation__menu li:last-child a {
    color: #23303e;
    transition: all 0.3s ease-in-out;
}
.navigation__menu li:last-child:hover a {
    color: #fff;
}

/*----- Mobile Menu -----*/
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-of-type {
    margin-left: 0;
}
.navigation__mobile__icon{
    display: none;
    max-width: 940px;
    position: relative;
    text-align: center;
    visibility: hidden;
}
.row .three{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #ecf0f1;
    text-align: center;
}
.hamburger .line{
    background-color: #ecf0f1;
    display: block;
    height: 2px;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    width: 30px;
}
.hamburger:hover{
    cursor: pointer;
}
#hamburger{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* Javascript event handeling classes for mobile menu */

#hamburger.is-active{
    animation: scale 0.6s forwards;
}
@keyframes scale{
    0%, 100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    50%{
        transform: scale(0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
}
#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(2),
#hamburger.is-active .line:nth-child(3){
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
}
#hamburger.is-active .line:nth-child(2){
    opacity: 0;
}
#hamburger.is-active .line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
}
#hamburger.is-active .line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
}

.navigation__menu.is-active {
    background-color: #fff;
    box-shadow: 0px 2px 10px -5px rgba(71, 71, 71, 0.64);
    -webkit-box-shadow: 0px 2px 10px -5px rgba(71, 71, 71, 0.64);
    -moz-box-shadow: 0px 2px 10px -5px rgba(71, 71, 71, 0.64);
    display: flex;
    padding: 40px 0;
    position: absolute;
    top: 106px;
    visibility: visible;
    width: 100%;
    z-index: 1;
}
.navigation__menu.is-active::before {
    border-color: transparent transparent #ffffff transparent;
    border-style: solid;
    border-width: 0 0 25px 25px;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: -24px;
    width: 0;
}

/* Media queries (NAVIGATION) */
@media only screen and (max-width: 768px) {
    .navigation {
        height: 88px;
        padding-left: 0;
        padding-right: 0;
    }
    .navigation__logo {
        height: 24px;
    }
    .navigation__menu {
        align-items: center;
        display: none;
        flex-direction: column;
        justify-content: center;
        visibility: hidden;
    }
    .navigation__menu li:nth-child(1) {
        margin-right: 0;
        margin-bottom: 38px;
    }
    .navigation__menu li:nth-child(2) {
        margin-right: 0;
        margin-bottom: 38px;
    }
    .navigation__menu li:nth-child(3) {
        margin-right: 0;
        margin-bottom: 38px;
    }
    .navigation__menu li:last-child {
        background-color: #fad400;
    }
    .navigation__menu li:last-child:hover {
        background-color: #fad400;
    }
    .navigation__menu li a {
        color: #818498;
    }
    .navigation__menu li:last-child:hover a {
        color: #23303e;
    }
    .navigation__mobile__icon {
        display: initial;
        visibility: visible;
    }
}

/*----- Feature Section -----*/

.feature {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 600px;
}
.reverse {
    flex-direction: row-reverse;
}
.feature__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 165px;
    width: 50%;
}
.feature__content__heading {
    color: #23303e;
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.6px;
    line-height: 1.2;
    padding-bottom: 33px
}
.feature__content__text {
    color: #818498;
    font-family: 'Barlow';
    line-height: 1.7;
    padding-bottom: 40px;
    width: 117%;
}
.feature__content__link {
    color: #23303e;
    font-family: 'Fraunces';
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.6px;
    margin-left: 10px;
    position: relative;
    text-transform: uppercase;
    width: max-content;
}
.feature__content__link::after {
    border-radius: 50px;
    bottom: -4px;
    content: '';
    display: block;
    height: 10px;
    left: -4px;
    opacity: 0.3;
    position: absolute;
    transition: opacity 0.2s;
    width: 105%;
    z-index: -1;
}
.yellow__link::after {
    background-color: #fad400;
}
.red__link::after {
    background-color: #fe7967;
}
.feature__content__link:hover::after {
    opacity: 1;
}
.feature__image {
    height: 100%;
    width: 50%;
}
.feature__image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* Media queries (FEATURE SECTION) */
@media only screen and (max-width: 768px) {
    .feature__content {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 425px) {
    .feature {
        flex-direction: column-reverse;
        height: 100%;
    }
    .feature__content {
        align-items: center;
        padding: 10px;
        text-align: center;
        width: auto;
    }
    .feature__content__heading {
        font-size: 34px;
        letter-spacing: -0.7px;
        padding-bottom: 23px;
        padding-top: 46px;
    }
    .feature__content__text {
        padding: 0 10px 38px 10px;
        width: auto;
    }
    .feature__image {
        width: 100%;
    }
    .feature__content__link {
        margin-bottom: 59px;
        margin-left: 0;
    }
}

/*----- Services Section -----*/

.services {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 600px;
}
.service {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 50%;
}
.service.graphic-design {
    background-image: url('../images/desktop/image-graphic-design.jpg');
    background-position: center center;
}
.service.photography {
    background-image: url('../images/desktop/image-photography.jpg');
    background-position: center center;
}
.service__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.graphic-design .service__content {
    color: #25564b;
    padding: 60px 160px;
}
.photography .service__content {
    color: #19526b;
    padding: 60px 165px;
}
.service__content__heading {
    font-family: 'Fraunces';
    font-size: 26px;
    font-weight: 900;
    padding-bottom: 30px;
}
.service__content__text {
    font-family: 'Barlow';
    line-height: 1.5;
}

/* Media queries (SERVICES SECTION) */
@media only screen and (max-width: 768px) {
    .graphic-design .service__content {
        padding: 42px 36px;
    }
    .photography .service__content {
        padding: 70px 20px;
    }
}
@media only screen and (max-width: 425px) {
    .services {
        flex-direction: column;
        height: 1200px;
    }
    .service {
        width: 100%;
    }
    .graphic-design .service__content {
        padding: 0 0 60px 0;
    }
    .photography .service__content {
        padding: 0 0 60px 0;
    }
    .service__content__heading {
        font-size: 28px;
        padding-bottom: 30px;
    }
    .service__content__text {
        font-size: 16px;
        line-height: 1.7;
        padding: 0 20px;
    }
}

/*----- Testimonial Section -----*/

.testimonials {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.testimonials__title {
    color: #a7abae;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 6.5px;
    text-transform: uppercase;
    padding-bottom: 84px;
}
.testimonials__wrapper {
    align-items: center;
    display: flex;
    padding: 0 138px;
}
.testimonial {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.testimonial:nth-child(1) {
    padding-right: 20px;
    width: 71%;
}
.testimonial:nth-child(2) {
    padding-right: 22px;
    width: 69%;
}
.testimonial:nth-child(3) {
    padding-right: 20px;
    width: 70%;
}
.testimonial__image {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-bottom: 58px;
}
.testimonial__comment {
    color: #5a636c;
    font-family: 'Barlow';
    line-height: 1.7;
    padding-bottom: 72px;
}
.testimonial__name {
    color: #23303e;
    font-family: 'Fraunces';
    font-weight: 900;
    padding-bottom: 16px;

}
.testimonial__role {
    color: #a7abae;
    font-family: 'Barlow';
    font-size: 14px;
}

/* Media queries (TESTIMONIAL SECTION) */
@media only screen and (max-width: 768px) {
    .testimonials__wrapper {
        padding: 0 20px;
    }
}
@media only screen and (max-width: 425px) {
    .testimonials {
        height: auto;
    }
    .testimonials__title {
        letter-spacing: 2.7px;
        padding-bottom: 0;
        padding-top: 66px;
    }
    .testimonials__wrapper {
        flex-direction: column;
        padding: 0;
    }
    .testimonial:nth-child(1) {
        margin-top: 66px;
        padding: 0 20px;
        width: 97%;
    }
    .testimonial:nth-child(2) {
        margin-top: 71px;
        padding: 0 20px;
        width: 98%;
    }
    .testimonial:nth-child(3) {
        margin-bottom: 92px;
        margin-top: 71px;
        padding: 0 5px;
        width: 90%;
    }
    .testimonial__image {
        margin-bottom: 32px;
    }
    .testimonial__comment {
        line-height: 1.8;
        padding-bottom: 35px;
    }
}

/*----- Gallery Section -----*/

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gallery__image {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    vertical-align: middle;
}

/* Media queries (GALLERY SECTION) */
@media only screen and (max-width: 425px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .gallery__image {
        height: 100%;
    }
}

/*----- Footer Section -----*/

footer {
    align-items: center;
    background-color: #90d4c5;
    display: flex;
    flex-direction: column;
    height: 45vh;
    justify-content: center;
}
.footer__logo {
    height: 32.8px;
    margin-bottom: 50px;
}
.footer__menu {
    align-items: center;
    display: flex;
    justify-content: center;
}
.footer__menu__item {
    font-family: 'Barlow';
}
.footer__menu__item:nth-child(1) {
    padding-right: 68px;
}
.footer__menu__item:nth-child(3) {
    padding-left: 68px;
}
.footer__menu__item__link {
    color: #458c7e;
    transition: color 0.2s;
}
.footer__menu__item__link:hover {
    color: #fff;
}
.socials__menu {
    align-items: center;
    padding-top: 95px;
    display: flex;
}
.socials__menu__item {
    margin-left: 15px;
    margin-right: 15px;
}
.socials__menu__item path {
    transition: fill 0.2s;
}
.socials__menu__item:hover path {
    fill: #fff;
}

/* Media queries (FOOTER SECTION) */
@media only screen and (max-width: 425px) {
    .footer__menu__item:nth-child(1) {
        padding-right: 52px;
    }
    .footer__menu__item:nth-child(3) {
        padding-left: 52px;
    }
}